<div class="row">
    <div class="col-12">
        <ul class="list">
            
            <li><a routerLink="formEvent">Form Evenet</a> </li>
            <li><a routerLink="interval">Interval</a> </li>
            <li><a routerLink="of-from">Of From</a> </li>
            <li><a routerLink="to-array">To Array</a> </li>
            <li><a routerLink="custom-observable">Custom Observable</a> </li>
            <li><a routerLink="map">Map</a> </li>
            <li><a routerLink="pluck">Pluck</a> </li>
            <li><a routerLink="filter">Filter</a> </li>
            <li><a routerLink="tap">Tap</a> </li>
            <li><a routerLink="take">Take, Take Last, Take Until</a> </li>
            <li><a routerLink="retry"> Retry, RetryWhen, Scan, and Delay</a> </li>
            <li><a routerLink="debounceTime">DebounseTime & DistinctUntilChanged </a> </li>
            <li><a routerLink="subject">Subject and BehaverSubject</a> </li>
            <li><a routerLink="reply-subject">Reply Subject</a> </li>
            <li><a routerLink="async-subject">Async Subject</a> </li>
            <li><a routerLink="concat">Concat</a> </li>
            <li><a routerLink="merge">Merge</a> </li>
            <li><a routerLink="MargeMap">MargeMap</a> </li>
            <li><a routerLink="reactive-form">Reactive Form</a> </li>
            <li><a routerLink="/formEvent">Form Evenet</a> </li>
        </ul>
    </div>
</div>
