
<h2>Interval</h2>

<div class="row">
 <div class="col-4">
    <div class="card">
        <div class="card-header">
            User-1
        </div>
        <div class="card-body">
            <ul id="eleContainer"></ul>   
        </div>
        
    </div>
 </div>
 <div class="col-4">
    <div class="card">
        <div class="card-header">
            User-2
        </div>
        <div class="card-body">
            <ul id="eleContainer2"></ul>   
        </div>
        
    </div>
 </div>
 <div class="col-4">
    <div class="card">
        <div class="card-header">
            User-3
        </div>
        <div class="card-body">
            <ul id="eleContainer3"></ul>   
        </div>
        
    </div>
 </div>
</div>

