<h2>Debounce Time</h2>

<div class="row">
    <div class="col-6">
        <strong class="text-primary">Ex-01 DebounceTime</strong>
        <hr>

        <div class="mb-3">
            <label for="" class="form-label">Search...</label>
            <input type="text" class="form-control" id="" placeholder="Search here" #myInput>
          </div>
<p *ngIf="updateData !=null">Update Data: <strong class="text-success">{{updateData}}</strong></p>

    </div>

    <div class="col-6">
        <strong>Ex-02 DistinctUntilChanged </strong>
        <hr>
        <div class="mb-3">
            <label for="" class="form-label">Search...</label>
            <input type="text" class="form-control" id="" placeholder="Search here" #myInput2>
          </div>
<p *ngIf="updateData2 !=null">Update Data: <strong class="text-success">{{updateData2}}</strong></p>
        
    </div>
</div>
