<h2>Merge Map</h2>

<div class="row">
    
    <div class="col-4">
        <strong>Ex - 01 Map</strong>
        <hr>
        <p class="bg-light border rounded p-2"> 
            <strong>Tech Video List:</strong> 1,2,3,4,5
        </p>

        <ul class="techList">
            <li>Data</li>
            <li>Data</li>
            <li>Data</li>
        </ul>
        
    </div>
    <div class="col-4">
        <strong>Ex - 02 Map + MergeAll</strong>
        <hr>
        <p class="bg-light border rounded p-2"> 
            <strong>Comedy Video List:</strong> 1,2,3
        </p>

        <ul class="techList">
            <li>Data</li>
            <li>Data</li>
            <li>Data</li>
        </ul>
     
    </div>
    
    <div class="col-4">
        <strong>Ex - 03 MergeMap</strong>
        <hr>
        <p class="bg-light border rounded p-2"> 
            <strong>News Video List:</strong> 1,2,3,4
        </p>
    
        <ul class="techList">
            <li>Data</li>
            <li>Data</li>
            <li>Data</li>
        </ul>
    </div>

</div>
