<h2>Form Events</h2>

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">Add Video</div>
            <div class="card-body">
                <button #addBtn class="btn btn-primary"> Add</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">Video List</div>
            <div class="card-body">
                <ul id= elContainer>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">2nd Video List</div>
            <div class="card-body">
                <ul id= elContainer1>
                </ul>
            </div>
        </div>
    </div>
</div>