<h2>Of and From</h2>
<br>
<strong>Ex- 01 (OF)</strong>
<hr>

<div class="row">
    <div class="col-6">
        <p class="bg-light border rounded p-2"> 
            <strong>Data: of('Father','Mother', 'Beby')</strong>
        </p>
        <hr>
        <ul id="eleContainer">
        </ul>
    </div>

    <div class="col-6">
        <p class="bg-light border rounded p-2"> 
            <strong>Data: of(&#123; a:'Father',b:'Mother', c:'Beby' &#125;)</strong>
        </p>
        <hr>
        <ul>
            <li><strong>A:</strong> {{obsMsg.a}}</li>
            <li><strong>B:</strong> {{obsMsg.b}}</li>
            <li><strong>C:</strong> {{obsMsg.c}}</li>
            
        </ul>
    </div>
</div>

<hr>
<strong>Ex- 02 (From)</strong>
<hr>
<div class="row">
    <div class="col-4">
        <p class="bg-light border rounded p-2"> 
            <strong>Data: from(['Salman Khan','Gobinda', 'Sharukh Khan'])</strong>
        </p>
        <hr>
        <ul id="eleContainer3">
        </ul>
    </div>

    <div class="col-4">
        <p class="bg-light border rounded p-2"> 
            <strong>Data: Promise to Observable</strong>
        </p>
        <hr>
        <ul id="eleContainer4">
        </ul>
    </div>

    <div class="col-4">
        <p class="bg-light border rounded p-2"> 
            <strong>Data: String to Observable</strong>
        </p>
        <hr>
        <ul id="eleContainer5">
        </ul>
    </div>
</div>

