<h2>Async Subject </h2>

<div class="row mt-3">
    <div class="col">
        <h5>Add video</h5>
    </div>
 
</div>
<hr>

<div class="row justify-content-center">
    <div class="col-4">
        <input type="text"class="form-control" #video>
    </div>
    <div class="col-4">
        <button class="btn btn-success" (click)="onVideoAdd(video.value)"> Add Video</button>
    </div>
    

</div>
<hr>


<div class="row mt-4">
    <div class="col-6">
        <h5>User - 01</h5>

        <ul class="video-list">
            <li><strong>Video:</strong>{{asyncValue}}</li>
            
        </ul>
    </div>
    <div class="col-6">
        <h5>Click To Complete</h5>

      
        <button class="btn btn-success"
        
        (click)="onComplete()"> Complete Subscribtion </button>
    </div>
    
</div>

